*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.parallax.header {
  background-image: url('assets/team7.jpg');
}

.parallax.content1 {
  background-image: url('assets/kakashi.jpg');
}

.parallax.content2 {
  background-image: url('assets/naruto.jpg');
}

.parallax.content3 {
  background-image: url('assets/sasuke.jpg');
}

.parallax.footer {
  background-image: url('assets/sakura.jpg');
}

.centered-text {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-family: fantasy;
  color: bisque;
}
